body {
  margin: 2.5%;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blog {
  margin: 2px;
  padding: 10px;
  border-color: darkslategray;
  border-style: solid;
  border-width: 1px;
}

.notification {
  display: inline-block;
  padding: 5px;
  background-color: #c9d2e0;
}